@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
	<Authorized>
		<h1>Hello, @context.User.Identity.Name !</h1>

	</Authorized>
	<NotAuthorized>
		<h1>Hello, Guest</h1>
	</NotAuthorized>
</AuthorizeView>
<p style="">

	Sự kiện mở đầu.
	Sau năm 1945 chiến tranh thế giới lần 2 kết thúc, một trong những cuộc chiến đẫm máu nhất lịch sử đã kết thúc. Hòa bình chưa được bao lâu, năm 1946 chiến tranh lạnh nổ ra giữa Mỹ và Liên Xô và là tiền đề cho một cuộc chiến tranh hạt nhân nổ ra. Đến năm 1960 khi mọi sự thỏa hiệp giữa 2 cường quốc đang tiến triển theo một cách tích cực. Tháng 12/3/1960, Mỹ đột nhiên ném bom vào Liên Xô, từng cây nấm khói khổng lồ mọc lên.
	Ethan, 35 tuổi, sinh sống trong một căn hộ tại Kazan, là nhà báo quân đội đang công tác tại Bryansk. Ngày 13/3/1960 khi đang đi thu thập thông tin về tình hình căng thẳng giữa Mỹ và Liên Xô thì nhận được tin Mỹ đã bắt đầu nổ súng. Ethan cùng với những đồng nghiệp đang cùng nhau chạy đến trốn xuống hầm trú ẩn trong nhà của một người bạn ở Bryansk. Cuộc chiến đến quá bất ngờ, Ethan và những người đồng nghiệp khác đã bị lạc nhau trong dòng người đang chạy loạn. Ethan bị xô ngã và tất cả mọi điều sau đó đều rơi vào bóng tối.
	Phần 1: Thức tỉnh.
	(Tiếng xe cộ qua lại, tiếng của những đứa trẻ đang cười đùa với nhau, tiếng những người qua đường đang chào nhau. Dưới một con phố nhỏ tôi đang đứng một mình bên vệ đường nhìn những chiếc xe chạy qua lại trên đường. Một chiếc xe chạy đến dừng ngay trước mặt tôi, một cô gái có mái tóc vàng bước xuống xe.
	“Chào Ethan, anh đợi em lâu chưa?". “Chúng ta cùng vào thăm cô Anna nhé".
	Cô ấy đi đến và gõ cửa một căn nhà nhỏ. Cách cửa mở ra, một người phụ nữ lớn tuổi bước ra.
	“Chào cô Anna Sergeyevna, hôm nay cháu lại đến thăm cô đây".
	“Chào hai cháu, vào nhà đi".
	Chúng tôi vào nhà và ngồi xuống ghế, cô gái đứng dậy đi xung quanh căn phòng nhìn lên những chiếc huy chương treo trên tường. Một lúc sau cô Anna quay trở lại trên tay bưng ba tách trà đi vào phòng.
	"Đó đều là những huy chương của chồng tôi" Anna ngồi kể lại: "Anh ấy là một người lính trong chiến tranh thế giới thứ 2, đã từng chiến đấu cho những trận chiến ở Berlin, anh ấy đã đứng trong hàng ngũ chống Phát Xít. Anh ấy đã trở về sau khi cuộc chiến kết thúc. Một năm sau thì anh ấy đã qua đời bởi một căn bệnh kỳ lạ nhưng chẳng ai quan tâm nó là gì cả..."
	"Cảm ơn cô vì bữa trà, Anna, cháu sẽ lại đến thăm cô vào tuần sau". Cô gái nắm tay tôi nói. “Cảm ơn anh vì đã đến”
	Cô ấy tiễn chúng tôi đến cửa. Cô gái quay sang nắm tay tôi và nói với tôi:
	"Tôi sẽ phải rời khỏi đây vì một số công việc và sẽ trở lại vào mùa hè, anh sẽ đến thăm cô ấy chứ? Cô ấy chỉ còn một mình".
	“Tôi sẽ. Vì điều đó quan trọng đối với bạn".
	Cô gái mỉm cười và hôn lên mũi tôi.
	Tôi rùng mình mở mắt, tôi tỉnh dậy trong mơ hồ, đầu đau nhức, bụng đói cồn cào, chân tay như rã rời ra. “Cô gái đó là ai? Tại sao tôi lại ở đây? Chuyện gì đã xảy ra?” Xung quanh tôi là một thành phố chết, bầu trời xám xịt, những đám mây tụ lại che lấp cả bầu trời chỉ có một vài tia nắng nhỏ may mắn đi qua được những đám mây ấy, xác người chết nằm ở khắp nơi, cơn gió lành lạnh lướt qua mang theo cái mùi kim loại khó chịu cùng cái mùi chết chóc đáng sợ, những ngôi nhà bị phá hủy, và tất cả sự sống đã biến mất. Tôi không thể nhớ được chuyện gì đã xảy ra ở đây, sao mọi thứ lại thành ra như vậy?.
	Tôi muốn đứng dậy đi xung quanh thì nhận ra chân của mình đã bị trật. Tôi cố gắng chỉnh lại cái chân đang bị trật. Một tiếng rắc kêu lên, khớp chân của tôi đã về đúng vị trí. Cái bụng của tôi bắt đầu réo lên cổ họng đang khát khô. Tôi đứng dậy bước đi khập khiễng, chân tay tôi run rẩy giống nhưng đã rất lâu rồi tôi không dùng đến chúng. Tôi cố lê từng bước chân yếu ớt đi lục lọi vài căn nhà cố tìm những gì còn sót lại và rất may là tôi đã tìm được một vài lon thức ăn và ăn như một kẻ sắp chết đói, một cái bật lửa, một chiếc đồng hồ đeo tay bằng vàng từ những cái xác đang thối rữa kia nhưng không tìm được một chút nước nào cả. Tôi nhìn ra cửa sổ có thứ gì đó đang phản chiếu ánh sáng vào mắt tôi. Tôi bước đến trước một cái hố giống như một hố bom vậy, bên trong có nước những ván dầu nổi đầy trên mặt nước rất nhiều rong rêu mọc bên dưới. Tôi vội vàng cúi xuống lấy tay múc vội lên miệng. Chúa ơi nó thật kinh khủng, cảm giác buồn nôn ập đến, tôi bịt miệng cố nuốt chúng xuống. Tôi múc lên uống ngụm thứ hai cảm giác vẫn rất kinh khủng nhưng tôi không thể làm được điều gì hơn thế cả. Tôi nghĩ mình nên tìm một chỗ để ngủ một giấc lấy lại sức.
	Sau giấc ngủ tôi đã khỏe hơn ít nhiều, bây giờ tôi cần phải rời khỏi đây. Tôi đi qua vài căn nhà đổ sập khác để tìm thêm một chút đồ đạc và thức ăn trước khi rời đi. Tôi đã tìm được thêm một chút thức ăn, một cuốn sổ kèm theo cái bút tôi chẳng biết mình nên làm gì với nó nhưng tôi vẫn mang theo nó đi cùng, một tấm bản đồ cũ nát nhưng tôi chẳng biết mình phải đi đâu, tôi nghĩ lại giấc mơ hôm qua nhưng mọi thứ vẫn chỉ là con số không, tôi vẫn chẳng thể nhớ được gì.
	Tôi rời khỏi Bryansk và đi dọc theo con đường nhựa có lẽ tôi sẽ đến Moscow để tìm hiểu xem chuyện gì đã xảy ra và tôi hy vọng rằng tôi sẽ tìm được vài người còn sống ở đó. Tôi vẽ một đường thẳng đến Moscow với hy vọng tôi có thể đến đó càng sớm càng tốt.
	Thực tế tệ hơn tôi nghĩ nhiều, những cái cây bị đổ chắn ngang đường, những quãng đường đã bị tàn phá bởi bom đạn, chân của tôi thì vẫn còn hơi đau và không thể đi nhanh được. Những điều nó là cho tinh thần của tôi có chút đi xuống, tôi lôi cuốn sổ tay ra và ghi lại những ngày mà mình còn sống. Bầu trời đang tối dần, có vẻ tôi nên dựng một cái lều nhỏ và nghỉ lại một đêm. Đêm nay là đêm đầu tiên tôi phải ngủ trong rừng, cái giường làm từ mấy cành cây khiến tôi khá khó chịu, đôi lúc có vài con côn trùng bay qua làm tôi rợn người. Đêm nay sẽ là đêm rất khó khăn đối với tôi.

</p>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
