<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
        <a class="navbar-brand" href="">Hello Admin !</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column nav-custom">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Trang chủ
			</NavLink>
		</div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="account">
				<span class="fas fa-home" aria-hidden="true"></span> Tài khoản
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="customer/manager">
				<span class="fas fa-user" aria-hidden="true"></span> Khách hàng
			</NavLink>
		</div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="/book/manager">
				<span class="fas fa-book-open" aria-hidden="true"></span> Kho sách
			</NavLink>
		</div>
		<div class="nav-item px-3">
            <NavLink class="nav-link" href="/genre/manager">
				<span class="fas fa-book-open" aria-hidden="true"></span> Thể loại
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="publisher/manager">
				<span class="fas fa-building-circle-check" aria-hidden="true"></span> Nhà xuất bản
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/author/manager">
				<span class="fas fa-user" aria-hidden="true"></span> Tác giả
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="news/manager">
				<span class="fas fa-newspaper" aria-hidden="true"></span> Tin tức
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="promotion/manager">
				<span class="fas fa-ticket" aria-hidden="true"></span> Khuyến mãi
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="order/manager">
				<span class="fas fa-clipboard-list" aria-hidden="true"></span> Đơn hàng
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="">
				<span class="fas fa-chart-line" aria-hidden="true"></span> Thống kê
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
